.container {
  width: 100vw;
}
.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  padding: 1rem 0 1rem 0;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.heading h4 {
  color: #383cc1;
  font-size: 25px;
  width: 80%;
  text-align: center;
}
.sides {
  width: 10%;
  color: #bf3325;
  font-size: 14px;
}

.userList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
